@import "../../../sass/vars";

.navbar {
    background: $bg;
    z-index: 999;
    width: 100%;
    height: 5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    position: fixed;
    bottom: 0;
    padding: 0;
    &-brand {
        margin-right: 0;
        &--big {
            width: 110px;
            height: auto;
        }
        &--small {
            width: 50px;
            height: auto;
        }
    }
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        color: $text;
        &:hover {
            color: $blue;
        }
        &--active {
            color: $blue;
        }
        i {
            font: {
                size: 1.5rem;
            }
        }
    }
    &.wrapper {
        padding: 0;
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .navbar {
        padding: 0 1rem;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        background: unset;
        position: relative;
        bottom: unset;
        &__link {
            flex-direction: row;
            align-items: unset;
            margin: 0 10px;
            text-shadow: 2px 2px #000;
            i {
                margin-right: 7px;
                font: {
                    size: 1.2rem;
                }
            }
        }
        &.wrapper {
            padding: 0 1rem;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .navbar {
        height: 8rem;
        &__link {
            font: {
                size: 1.3rem;
            }
            i {
                font: {
                    size: 1.5rem;
                }
            }
        }
    }
}
