@import "../../sass/vars";

.main-footer {
    margin-top: 1rem;
    padding-bottom: 6rem;
    a {
        font: {
            weight: bold;
        }
        color: $text;
        &:hover {
            color: $blue
        }
    }
    &__contact {
        white-space: nowrap;
        margin-bottom: 1rem;
        img {
            width: 100px;
            margin-right: 1rem;
        }
    }
    &__links {
        white-space: nowrap;
        margin-bottom: 1rem;
        span {
            vertical-align: text-bottom;
        }
    }
    &__social {
        white-space: nowrap;
        a {
            margin-left: 1rem;
            font-size: 2.5rem;
        }
    }

    .legal-modal {
        .modal {
            &-header {
                -webkit-box-shadow: 0 7px 15px 0 rgba(0,0,0,0.75);
                -moz-box-shadow: 0 7px 15px 0 rgba(0,0,0,0.75);
                box-shadow: 0 7px 15px 0 rgba(0,0,0,0.75);
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .main-footer {
        background: $bg;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        padding: 1rem;
    }
}
