@import "../../sass/vars";

.main-footer {
    margin-top: 1rem;
    padding-bottom: 6rem;
    > div {
        white-space: nowrap;

    }
    a {
        font: {
            weight: bold;
        }
        color: $text;
        &:hover {
            color: $blue
        }
    }
    &__contact {
        margin-bottom: 1rem;
        img {
            width: 100px;
            margin-right: 1rem;
        }
    }
    &__links {
        margin-bottom: 1rem;
        span {
            vertical-align: text-bottom;
        }
    }
    &__social {
        a {
            margin-left: 1rem;
            font-size: 2.5rem;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .main-footer {
        background: $bg;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        padding: 1rem;
    }
}
