@import "vars";

.advert {
    &__img {
        position: relative;
        cursor: pointer;
        height: 200px;
        border-bottom: 2px solid $grey;
        border-top-left-radius: 0.65rem;
        border-top-right-radius: 0.65rem;
    }
    &__edit {
        display: none;
    }
    .advert__toggle-special-offer {
        top: 1rem;
        left: 1rem;
        z-index: 2;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
    .advert__toggle-sold {
        bottom: 1rem;
        left: 1rem;
        z-index: 2;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
    &__specifications {
        columns: 2;
    }
}

.dropdown {
    &-admin {
        button {
            font: {
                size: 1rem;
            }
        }
        .dropdown-menu {
            left: unset;
            right: 0;
            &[data-bs-popper] {
                top: auto;
                bottom: 100%;
                margin-top: 0;
                margin-bottom: 0.125rem;
            }
        }
        .dropdown-item {
            &:hover {
                background-color: $transBlue;
            }
        }
    }
    &-locale {
        .dropdown-menu {
            background: transparent;
            left: unset;
            min-width: unset;
            box-shadow: none;
            .dropdown-item {
                &:hover {
                    background: transparent;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .dropdown {
        &-admin {
            .dropdown-menu {
                &[data-bs-popper] {
                    top: 100%;
                    bottom: unset;
                    margin-top: 0.125rem;
                    margin-bottom: 0;
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .advert {
        &__specifications {
            max-width: 450px;
            columns: unset;
            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                padding: 0;
                li {
                    margin-right: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
