// text
$text: #B0B7CB;

// backgrounds
$dark: #151521;
$bg: #1e1e2d;
$bg2: #1b1b29;

// colors
$blue: #3699ff;
$darkerBlue: #187de4;
$transBlue: #212e48;
$green: #0bb783;
$darkerGreen: #04aa77;
$transGreen: #1c3238;
$orange: #ffa800;
$darkerOrange: #ee9d01;
$transOrange: #392f28;
$purple: #8950fc;
$darkerPurple: #7337ee;
$transPurple: #2f264f;
$red: #f64e60;
$darkerRed: #ee2d41;
$transRed: #3a2434;
$grey: #323248;
$darkerGrey: #2b2b40;
