@import "../../sass/vars";

.intro {
    height: 40vh;
    &__bg {
        z-index: -1;
        background-image: linear-gradient(to bottom, transparent, $dark),  url('../../images/homeBg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
    }
}

// Landscape view
@media (max-height: 500px) {
    .intro {
        &__txt {
            display: none;
        }
    }
}
