@import "../../sass/vars";

.advert {
    height: 100%;
    display: flex;
    flex-direction: column;
    &__img {
        height: 200px;
    }
    &__edit {
        display: inline-block;
        top: 1rem;
        right: 1rem;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
    &__special-offer {
        display: none;
    }
    &__mark-as-sold {
        display: none;
    }
    &__price {
        &--sold {
            display: none;
        }
    }
}

.portfolio {
    &-show {
        &__details, &__features {
            li {
                white-space: nowrap;
                margin-bottom: 0.5rem;

                > span:nth-child(2) {
                    font: {
                        weight: bold;
                    }
                }
            }
        }
        .spotlight-group {
            img {
                object-fit: cover;
                width: 200px;
                height: 200px;
                border-radius: 0.65rem;
            }
        }
    }
    &-create {
        .form-label {
            font: {
                weight: bold;
            }
        }
        &__options {
            ul {
                columns: 2;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .advert {
        &__img {
            height: 200px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .portfolio {
        &-show {
            &__details, &__features {
                columns: 2;
            }
        }
    }
}
