@import "../../sass/vars";

.advert {
    display: flex;
    flex-direction: column;
    &__edit {
        display: none;
    }
    &__special-offer {
        top: 1rem;
        left: 1rem;
        z-index: 2;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
    &__mark-as-sold {
        bottom: 1rem;
        left: 1rem;
        z-index: 2;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
    &__labels {
        &_conf-price {
            display: none;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .advert {
        flex-direction: row;
        &__img {
            width: 250px;
            height: 300px;
            border-top-right-radius: unset;
            border-bottom-left-radius: 0.65rem;
            border-bottom: unset;
            border-right: 2px solid $grey;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .advert {
        &__img {
            width: 450px;
        }
    }
}
